<h3>Update Customer</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firsttName" required [(ngModel)]="customer.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="customer.email" name="email">
    </div>

    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>