<form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="customer.firstName" name="firstname"  class="form-control" placeholder="Enter First Name">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="customer.lastName" name="lastname"  class="form-control" placeholder="Enter Last Name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="customer.email" name="email" class="form-control" placeholder="Enter Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" [(ngModel)]="customer.userName" class="form-control" id="userName" name="userName" placeholder="UserName">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="customer.password" class="form-control" id="password" name="upassword" placeholder="password">
    </div>

    <button (click)=onSubmit() type="submit" class="btn btn-primary">Register</button>
  </form>

