/* Application-wide Styles*/

  body {
    font-family: "Roboto", sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .header {
    align-items: center;
    background-color: #4f4d53;
    display: flex;
    height: 48px;
    width: 100%;
  }

  .header-logo {
    display: flex;
    justify-content: flex-start;
  }
  .hero {
    align-items: center;
    background-image: url("https://livewallpaperhd.com/wp-content/uploads/2020/09/Food-Background-Wallpaper-HD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: #4f4d53;
    display: flex;
    font-size: 30px;
    height: 500px;
    width: 100%;
  }

  h1,
  h2,
  h3 {
    font-weight: 900;
  }
  h2 {
    font-size: 50px;
    color: #e8be02;
  }

  h4,
  p {
    font-weight: 400;
  }

  .ctn {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 75%;

  }

  .main {
    margin: auto;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    
  }

  p {
    margin-bottom: 50px;
    line-height: 20px;
  }
  
  footer {
    background-color: #4f4d53;
    border-top: 12px solid #e89f02;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 320px;
    width: 100%;
  }

  .footer-ctn > h3 {
    color: #e89f02;
  }

  .footer-ctn > h4 {
    margin: 0px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .footer-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #join-us {
    margin-top: 20px;
  }
