<!-- 
<div class="main_menu">
<h2> Menu </h2>
<ul class="foods">
    <li *ngFor="let food of food"
      [class.selected]="food === selectedFood"
      (click)="onSelect(food)">
      <span class="badge">{{food.name}}</span> {{food.price}}
    </li>
  </ul>
</div> -->
  

<div class="card-container" fxLayout="row wrap" fxLayoutGap="16px grid" >
   
        <div *ngFor="let food of food">
          
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ food.name }}</mat-card-title>
              <mat-card-subtitle>{{ food.price }}</mat-card-subtitle>
            </mat-card-header>
            <img class="mat-card-image" src= {{food.url}}  alt="Photo of Food">
            <!-- [(NgModel)]= "listItem.quantity" -->
            <mat-card-content>
              <p>
                There should be words here!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <label>Quantity: </label><input type="number" placeholder="How many?">
              <button mat-button (click)="addToBag(food)">ADD TO BAG</button>
              
            </mat-card-actions>
          </mat-card>
        </div>

          <!-- <td>{{ food.name }}</td>
          <td>{{ food.price }}</td>
          <button>Pick Me!</button> -->
      
</div>

