.table-bordered{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: auto 
}


.table-bordered{
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1.5px solid black;
  width: 100%;
}

.example-card {
  max-width: 400px;
}

/* 
.foods {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .foods li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .foods li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  .foods li.selected {
    background-color: black;
    color: white;
  }
  .foods li.selected:hover {
    background-color: #505050;
    color: white;
  }
  .foods li.selected:active {
    background-color: black;
    color: white;
  }
  .foods .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#e89f02;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  input {
    padding: .5rem;
  } */