<!-- 
<div class="main_menu">
<h2> Menu </h2>
<ul class="foods">
    <li *ngFor="let food of food"
      [class.selected]="food === selectedFood"
      (click)="onSelect(food)">
      <span class="badge">{{food.name}}</span> {{food.price}}
    </li>
  </ul>
</div> -->
  

<div class="card-container" fxLayout="row wrap" fxLayoutGap="16px grid" >
   
        <div *ngFor="let product of products">
          
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ product.productName }}</mat-card-title>
              <mat-card-subtitle>{{ product.unitPrice }}</mat-card-subtitle>
            </mat-card-header>
            <img class="mat-card-image" src= {{product.img_url}}  alt="Photo of Food">
            <!-- [(NgModel)]= "listItem.quantity" -->
            <mat-card-content>
              <p>
                There should be words here!
              </p>
            </mat-card-content>
            <form (ngSubmit)="onSubmit()">
            <mat-card-actions>
              <label>Quantity: </label><input type="number" placeholder="How many?">
              <input type="number" class="form-control" id="quantity" required [(ngModel)]="billingStatement.quantity" name="quantity">
              <!-- <app-billing-statement hidden [quantity]="quantity"></app-billing-statement> -->
              <app-billing-statement hidden [product] = "product"></app-billing-statement>
            </mat-card-actions>
            <button matbutton type="submit">Place Order</button>
            </form>
          </mat-card>
        </div>

          <!-- <td>{{ food.name }}</td>
          <td>{{ food.price }}</td>
          <button>Pick Me!</button> -->
      
</div>

