<div>
    <div>
        <h2>Customer Details</h2>
    </div>
    <div>
        <table class="table table-info table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th> ID </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers | async">
                    <td>{{customer.id}}</td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.email}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <button onclick="return confirm('Your account had been updated.')" (click)=onSubmit() type="submit" class="btn btn-primary">Update Account</button>
    <button onclick="return confirm('We are sorry to see you go.')"  (click)=onSubmit() type="submit" class="btn btn-primary">Delete Account</button>
</div>
